{
	"extends": ["stylelint-config-standard", "stylelint-config-standard-scss"],
	"plugins": ["stylelint-order"],
	"rules": {
		"indentation": ["tab", 4],
		"color-hex-case": "lower",
		"color-function-notation": ["modern", { "disableFix": true }],
		"selector-class-pattern": "^.*$",
		"length-zero-no-unit": null,
		"declaration-block-no-redundant-longhand-properties": [
			true,
			{
				"ignoreShorthands": ["/grid/"]
			}
		]
	}
}
